body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: black;
  font-size: 16px; /* Базовый размер шрифта для удобного чтения */
}

.App {
  display: flex;
  flex-direction: column; /* Изменение направления расположения элементов на вертикальное */
  padding: 10px; /* Уменьшение внутренних отступов */
}

#contact-list-container,
#add-contacts-container,
#search-contacts-container {
  width: 100%; /* Занимать всю доступную ширину экрана */
  margin-bottom: 20px; /* Добавление отступа между контейнерами */
}

h1 {
  color: white;
  font-weight: 50;
  font-size: 2rem; /* Уменьшение размера заголовка */
  font-family: sans-serif;
  letter-spacing: -2px; /* Изменение интервала между символами */
  margin-bottom: 10px;
}

button {
  height: 50px; /* Увеличение высоты кнопок */
  font-size: 1.2rem; /* Увеличение размера шрифта на кнопках */
}

img {
  width: 40px;
  height: 30px;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: auto;
}

li {
  background-color: blue;
  margin-bottom: 5px;
  border-radius: 10px;
}

li:hover {
  background-color: grey;
}

form {
  width: 100%;
  text-align: center;
}

input {
  margin-left: 10px;
}

.window-close {
  margin-left: 20px;
  color: red;
  background-color: white;
}
